@import '_variables';
@import '_mediaQuery';
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 10vw;
    h1 {
        color: color(accent);
        font-weight: 800;
        font-size: 3rem;
    }
    a {
        text-decoration: none;
        margin: 0 1em;
        font-size: 1.2em;
        color: color(dark);
    }
    .home {
        color: color(accent);
    }
    .nav_icons {
        button {
            margin-left: 1em;
            background-color: transparent;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s all ease-in-out;
            i {
                font-size: 1.5rem;
            }
            &:hover {
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: color(accent);
    padding: 0 10vw;
    .left {
        width: 40%;
        .p1 {
            font-size: 3rem;
            color: color(light);
            font-weight: bold;
            margin-bottom: 1em;
        }
        .p2 {
            font-size: 1.2rem;
            color: color(light);
            margin-bottom: 1em;
        }
        button {
            font-size: 1rem;
            &:nth-child(1) {
                background-color: color(light);
                border: none;
                padding: 1.5em 2em;
                margin-right: 1em;
                border-radius: 50px;
            }
            &:nth-child(2) {
                background-color: transparent;
                border: 2px solid color(light);
                padding: 1.5em 2em;
                border-radius: 50px;
                color: color(light);
            }
        }
    }
    .right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        img {
            height: auto;
        }
    }
}

.section2 {
    padding: 1em 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: auto;
        height: auto;
    }
}

.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9F9F8;
    padding: 10em 10vw;
    .left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        .card1 {
            border-radius: 24px;
            background: #E0E0E0;
            box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
            overflow: hidden;
            width: 46%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .card2 {
            border-radius: 24px;
            background: #E0E0E0;
            box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
            overflow: hidden;
            width: 46%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .card3 {
            border-radius: 24px;
            background: #E0E0E0;
            box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
            overflow: hidden;
            margin-top: 4em;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .right {
        width: 40%;
        h1 {
            font-size: 3rem;
            opacity: 0.8;
            margin-bottom: 1em;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1em;
        }
        button {
            padding: 1em 2em;
            border-radius: 50px;
            border: 2px solid color(accent);
        }
    }
}