/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 10vw;
}
nav h1 {
  color: #43C9BE;
  font-weight: 800;
  font-size: 3rem;
}
nav a {
  text-decoration: none;
  margin: 0 1em;
  font-size: 1.2em;
  color: #030002;
}
nav .home {
  color: #43C9BE;
}
nav .nav_icons button {
  margin-left: 1em;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
nav .nav_icons button i {
  font-size: 1.5rem;
}
nav .nav_icons button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #43C9BE;
  padding: 0 10vw;
}
.section1 .left {
  width: 40%;
}
.section1 .left .p1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1em;
}
.section1 .left .p2 {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 1em;
}
.section1 .left button {
  font-size: 1rem;
}
.section1 .left button:nth-child(1) {
  background-color: #ffffff;
  border: none;
  padding: 1.5em 2em;
  margin-right: 1em;
  border-radius: 50px;
}
.section1 .left button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 1.5em 2em;
  border-radius: 50px;
  color: #ffffff;
}
.section1 .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.section1 .right img {
  height: auto;
}

.section2 {
  padding: 1em 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 img {
  width: auto;
  height: auto;
}

.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E9F9F8;
  padding: 10em 10vw;
}
.section3 .left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.section3 .left .card1 {
  border-radius: 24px;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
  overflow: hidden;
  width: 46%;
}
.section3 .left .card1 img {
  width: 100%;
  height: auto;
}
.section3 .left .card2 {
  border-radius: 24px;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
  overflow: hidden;
  width: 46%;
}
.section3 .left .card2 img {
  width: 100%;
  height: auto;
}
.section3 .left .card3 {
  border-radius: 24px;
  background: #E0E0E0;
  box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
  overflow: hidden;
  margin-top: 4em;
  width: 100%;
}
.section3 .left .card3 img {
  width: 100%;
  height: auto;
}
.section3 .right {
  width: 40%;
}
.section3 .right h1 {
  font-size: 3rem;
  opacity: 0.8;
  margin-bottom: 1em;
}
.section3 .right p {
  font-size: 1rem;
  margin-bottom: 1em;
}
.section3 .right button {
  padding: 1em 2em;
  border-radius: 50px;
  border: 2px solid #43C9BE;
}

.section4 {
  padding: 10em 10vw;
}
.section4 h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 1em;
}
.section4 p {
  opacity: 0.8;
  font-size: 1rem;
  text-align: center;
}
.section4 .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.section4 .links a {
  margin: 0 1em;
  font-size: 1rem;
  text-decoration: none;
  color: #030002;
}
.section4 .links a:nth-child(1) {
  text-decoration: underline;
  color: #43C9BE;
}
.section4 .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
.section4 .grid .card {
  width: 22%;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
}
.section4 .grid .card .imgeHolder {
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #e3e3e3, -8px -8px 16px #ffffff;
  position: relative;
  margin-bottom: 2em;
}
.section4 .grid .card .imgeHolder img {
  width: 100%;
}
.section4 .grid .card .imgeHolder button {
  background-color: #43C9BE;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5em;
  border: none;
  border-radius: 1em;
  display: none;
  cursor: pointer;
}
.section4 .grid .card:hover button {
  display: block;
  font-size: 1.2rem;
  color: #ffffff;
}
.section4 .grid .card span {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 600;
}
.section4 .grid .card span:nth-child(3) {
  color: #43C9BE;
  font-size: 1.5rem;
}

.section5 {
  background: linear-gradient(45deg, #3B9890, #23C1B3);
  padding: 10em 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section5 .left {
  width: 40%;
}
.section5 .left p {
  color: #ffffff;
}
.section5 .left p span {
  color: #FDDD91;
}
.section5 .left p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 5px;
}
.section5 .left p:nth-child(2) {
  font-size: 5rem;
  font-weight: bolder;
  margin: 1em 0;
  line-height: 0;
}
.section5 .left p:nth-child(3) {
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: 600;
}
.section5 .left p:nth-child(4) {
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.section5 .left button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 1em 2em;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.2rem;
}
.section5 .right {
  height: 100%;
  width: 50%;
}
.section5 .right img {
  width: 100%;
}

.section6 img {
  width: 100%;
}/*# sourceMappingURL=index.css.map */